# MQTT CONFIG
MQTT_USERNAME=<e2l-mqtt-username>
MQTT_PASSWORD=<e2l-mqtt-password>
MQTT_BROKER_HOST=<e2l-mqtt-host>
MQTT_BROKER_PORT=<e2l-mqtt-port>
MQTT_TOPIC=<e2l-mqtt-subscribe-port>
MQTT_TOPIC_OUTPUT=<e2l-mqtt-publish-topic>

# WINDOW LENGTH CONFIG
WINDOW_SIZE_HAMPEL=<e2l-window-size-hampel>
WINDOW_LENGTH=<e2l-processing-window>
SLIDE_INTERVAL=<e2l-slide-window-interval>

# CORE CONFIG
CORE_NUMBER=<number_of_cores_used_by_spark>